// Button Component Stylesheet
// ========================================
.button {

  &--primary {
    // @include button-format($white, $green, $green);
      margin-right: $spacer-s;
      background-color: $white;
      color: $green;
      border-color: $green;
      font-family: $primary-font;
      width: 125px;
      padding: $spacer-m;
      border: 3px solid;
      border-radius: 25px;
      text-align: center;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  &--secondary {
    // @include button-format($white, $darkgrey, $darkgrey);
      margin-right: $spacer-s;
      background-color: $white;
      color: $darkgrey;
      border-color: $darkgrey;
      font-family: $primary-font;
      width: 125px;
      padding: $spacer-m;
      border: 3px solid;
      border-radius: 25px;
      text-align: center;

    &:hover {
      background-color: $darkgrey;
      color: $white;
    }
  }

  &--disabled {
    // @include button-format($grey, $white, $grey);
    opacity: .9;
    background-color: $grey;
    color: $white;
    font-family: $primary-font;
    width: 125px;
    padding: $spacer-m;
    border: 3px solid $grey;
    border-radius: 25px;
    text-align: center;
  }
}
