// Colors Variables Settings Stylesheet
// ========================================

$green: #2f9c03;
$darkgrey: #040f00;
$yellow: #f1c400;
$white: #fff;
$blue: #003399;
$grey: #4f574c;
$error: #9c032f; // Error Red for Errors
$success: #37b903; // Success Green for Alerts


// Main Palette List
$colors: (
'green': $green,
'darkgrey': $darkgrey,
'yellow': $yellow,
'white': $white,
'blue': $blue,
'grey': $grey,
'error': $error,
'success': $success,
);
