// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Acumin Pro', sans-serif;
$header-font: 'Acumin Pro', sans-serif;
$link-font: 'Acumin Pro Wide', sans-serif;


// Text Colors Map
$type-colors: (
  'charcoal': ( charcoal ),
  'white':    ( white ),
  'grey':     ( grey ),
  'dkblue':   ( dkblue ),
);
