// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: 'Acumin Pro';
  color: $darkgrey;
}

.header {
  // grid-area: header;

  &__logo {
    width: 20%;
    padding: $spacer-m;
  }

  &__nav {
    display: inline-flex;
    min-width: 320px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: $spacer-s;
    flex-flow: wrap;
    background-color: $yellow;

    &__nav__list {
      list-style-type: none;
      // flex-direction: row;
      // justify-content: flex-end;
      // flex-wrap: wrap;

      &__nav__list__item {
        text-decoration: none;
        display: inline-flex;

        // justify-content: space-around;
        // flex-wrap: wrap;
      }
    }
  }
}

.main {
  padding: $spacer-m;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {
      text-align: center;
    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
    display: inline-flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-top: 10px;
  width: 100%;
  background-color: $darkgrey;
  padding: $spacer-m;
  text-align: center;
}
