// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: 'Acumin Pro';
  color: $darkgrey;
  width: 100%;
}

.grid-layout {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

.header {
  grid-area: header;
  display: flex;
  min-width: 320px;
  flex-direction: row;
  justify-content: center;

  &__logo {
    width: 20%;
    padding: $spacer-m;
  }

  &__nav {
    width: 100%;
    display: inline-flex;
    padding: $spacer-s;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: $yellow;

    &__nav__list {
      list-style-type: none;
      // flex-direction: row;
      // justify-content: flex-end;
      // flex-wrap: wrap;

      &__nav__list__item {
        text-decoration: none;
        display: inline-flex;

        // justify-content: space-around;
        // flex-wrap: wrap;
      }
    }
  }
}

.main {
  padding: $spacer-m;
  grid-area: main;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {
      text-align: center;
    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  grid-area: footer;
  position: bottom;
  background-color: $darkgrey;
  padding: $spacer-m;
  text-align: center;
}
