// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  background-color: $white;
  font-family: 'Acumin Pro';
  color: $darkgrey;
  width: 100%;
}

.grid-layout {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  'header'
  'main'
  'footer';
}

.header {
  grid-area: header;

  &__logo {
    width: 20%;
    padding: $spacer-s;
  }

  &__nav {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &__nav__list {
      list-style-type: none;

      &__nav__list__item {
        // display: inline-flex;
        // flex-direction: row;
        // justify-content: space-around;
        // flex-wrap: wrap;
      }
    }
  }
}

.main {
  padding: $spacer-m;
  grid-area: main;
  background-color: $grey;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {

    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  grid-area: footer;
  background-color: $darkgrey;
  padding: $spacer-m;
  text-align: center;
}
