// Alert Mixin Settings Stylesheet
// ========================================

@mixin alert ($background-value, $color-value) {
  width: 45%;
  background-color: $background-value;
  color: $color-value;
  padding: $spacer-s;
  font-size: 12px;
}
