// Alert Mixin Settings Stylesheet
// ========================================

@mixin alert ($background-value, $color-value) {
  width: 100%;
  background-color: $background-value;
  color: $color-value;
  padding: $spacer-s;
  border-radius: 5px;
}

// media query for size
